@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HaikusScript";
  src: url("./fonts/HaikusScriptv09Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "HaikusScript";
  src: url("./fonts/HaikusScriptv09Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "DomaineDisplay";
  src: url("./fonts/domaine-display-regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "DomaineDisplay";
  src: url("./fonts/domaine-display-bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("./fonts/AktivGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("./fonts/AktivGrotesk-Bold.woff2") format("woff2");
  font-weight: 700;
}
